# Notion Variables
NOTION_TOKEN=secret_your_notion_integration_secret_here
NOTION_DATABASE_ID=your_target_page_id_here

# GitHub Variables
GITHUB_TOKEN=ghp_your_github_personal_access_token_here
GITHUB_REPO=Eznone/Cloud-Architecture-Learning